<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ingeloop.WPF.Core" version="1.1.1" targetFramework="net48" requireReinstallation="true" />
  <package id="Ingeloop.WPF.Design" version="1.1.1" targetFramework="net48" requireReinstallation="true" />
  <package id="Ingeloop.WPF.Icons" version="1.0.4" targetFramework="net48" />
  <package id="MaterialDesignColors" version="2.1.2" targetFramework="net48" />
  <package id="MaterialDesignThemes" version="4.8.0" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net48" />
</packages>